.user {
  display: flex;
  width: 400px;
  height: auto;
  padding: 0 0;
  margin: 0 auto;
  vertical-align: middle;
  justify-content: center;
}
body {
  margin: 0;
  padding: 0;
  //zoom: 50%;
  color: #1b2631;
}
h2 {
  display: block;
  text-align: center;
  font-family: "Roboto", serif;
  color: #EBA4A4;
  width: 300px;
  padding: 10px;
  margin: 15px auto;
  border: 4px solid #EBA4A4;
  border-radius: 8px;
  
  }
.label {
  text-align: center;
  display: block;
  width: 400px;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 28px;
  margin: auto;
  }
input[type=text] {
    outline: none;
    font-family: "Roboto", serif;
    font-size: 48px;
    font-weight: 300;
    color: #1b2631;
    border: 2px solid #fdfefe;
    border-radius: 8px;
    width: 400px;
    height: 60px;
    margin: 15px auto;
    text-align: center;
    transition: border 0.4s ease-in-out;
}
input[type=text]:focus {
    outline: none;
    border: 2px solid #85929e;
}
input[type=number] {
  outline: none;
  opacity: 1;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 48px;
  width: 180px;
  height: 110px;
  padding: 10px 0 10px 15px;
  margin: 10px;
  background-color: #f8f8f8;
  box-sizing: border-box;
}
input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
  display: block;
  padding: 25px;
  width: 100px;
  height: 60px;
}
button {
  font-family: "Roboto", serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 28px;
  border: 4px solid #ccc;
  background-color: #f8f8f8;
  border-radius: 10px;
  width: 180px;
  height: 110px;
  padding: 10px 10px;
  margin: auto;
  transition: background-color 0.1s ease-in-out;
}
button#healup {
  width: 250px;
  height: 80px;
}
button:hover {
  background-color: #dddddd;
}
button:active {
  background-color: #ccc;
}
#hpbox {
  width: 450px;
  margin: auto;
  background-color: #BBFABF;
  padding: 15px 0 10px;
  border-radius: 15px 15px 0 0;
}
#dmgbox {
  width: 450px;
  margin: auto;
  background-color: #EBA4A4;
  padding: 5px 0 15px;
  border-radius: 0 0 15px 15px;
}
#mpbox {
  position: relative;
  width: 450px;
  margin: auto;
  background-color: #A4CAEB;
  padding: 15px 0;
  border-radius: 15px;
}
/* CHART VISUALS */
#containerleft {
  height: 600px;
  width: 300px;
  padding: 0;
  float: left;
}
#containerright {
  height: 600px;
  width: 300px;
  padding: 0;
  float: right;
}
#cropleft, #cropright {
  display: block;
  float: left;
  width: 295px;
  padding: 0;
  overflow: hidden;
}
#parent {
  position: relative;
  width: 590px;
  height: 650px;
  margin: auto;
  padding: 0;
}
 #parenttop {
  width: 588px;
  height: 600px;
  padding: 0;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("https://mal4m.github.io/KHWidget/chart/overlay-alt.svg") no-repeat top center;
  margin: 25px auto;
}
#parentbottom {
  width: 610px;
  height: 610px;
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("https://mal4m.github.io/KHWidget/chart/offset.svg") no-repeat top center;
  margin: 14px auto;
  z-index: -10;
  opacity: .4;
}
#rotate {
  position: relative;
  padding: 20px;
  width: 594px;
  transform: rotate(35deg);
  //padding-top: 0;
  margin: 0 auto 60px auto;
  z-index: -5;
  
